.heading{
    height: 50px;
    width: 200px;
    background-color: aquamarine;
    border: 2px solid black;
    color:blue;
    text-align: center;
    padding-top: 30px;
}



#replace{
    height: 50px;
    width: 200px;
    background-color: aquamarine;
    border: 2px solid black;
    color:red;
    text-align: center;
    padding-top: 30px;

}

#hide{
    width:200px;
    height:50px;
    background-color: aquamarine;
    border: 2px solid black;
    color:blue;
    text-align: center;
    padding-top: 30px;
}